node_modules/
.env
.env.*
!.env.example
.vercel/
.playwright/*
!.playwright/screenshots/
.playwright/screenshots/*
!.playwright/screenshots/mise.png
coverage/
public/admin.js
public/app.js
.DS_Store
npm-debug.log*
